In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
import numpy as np
from sklearn import datasets
from sklearn.model_selection import train_test_split

In [2]:
#loading the data
iris_data = pd.read_csv('Iris.csv')

In [3]:
#previewing the iris data
iris_data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
## Understanding the data

class iris_nn:
  def __init__(self,data):
    self.data = data


# viewing the columns of the data set
  def columns(self):
    return self.data.columns


# viewing the shape of the data
  def shape(self):
    return self.data.shape


#first 5 records of the data
  def head(self):
    return self.data.head()

df = iris_nn(iris_data)

In [5]:
#columns
df.columns()

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [6]:
#shape of data
df.shape()

(150, 6)

In [7]:
#head of data
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [8]:
#checking for any missig values
iris_data.isna().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [9]:
y_values = iris_data['Species'].unique()
y_values

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [10]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

iris_data['Species'] = le.fit_transform(iris_data['Species'])
iris_data['SepalLengthCm'] = iris_data['SepalLengthCm'].astype(int)
iris_data['SepalWidthCm'] = iris_data['SepalWidthCm'].astype(int)
iris_data['PetalLengthCm'] = iris_data['PetalLengthCm'].astype(int)
iris_data['PetalWidthCm'] = iris_data['PetalWidthCm'].astype(int)

In [11]:
x = iris_data.drop(['Id','Species'],axis=1)
y = iris_data['Species']

x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=50,test_size=0.3)

In [12]:
iris_data['Species']

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int32

In [13]:
#previewing the x_train
x_train.shape

(105, 4)

In [14]:
#DEEP NEURAL NETWORK MODEL
from tensorflow.keras.layers import Dense
from tensorflow.keras import Sequential

model = Sequential()

model.add(Dense(units=32,activation='relu',input_dim=len(x_train.columns)))
model.add(Dense(units=64,activation='relu'))
model.add(Dense(units=1,activation='sigmoid'))

In [15]:
#compiling the model
model.compile(metrics="accuracy",optimizer='adam',loss='mean_squared_error')

In [16]:
#fitting
model.fit(x_train,y_train,epochs=10)

Epoch 1/10
4/4 [==============================] - 1s 4ms/step - loss: 1.0544 - accuracy: 0.0476
Epoch 2/10
4/4 [==============================] - 0s 3ms/step - loss: 0.8077 - accuracy: 0.3143
Epoch 3/10
4/4 [==============================] - 0s 4ms/step - loss: 0.6940 - accuracy: 0.3143
Epoch 4/10
4/4 [==============================] - 0s 3ms/step - loss: 0.6607 - accuracy: 0.3143
Epoch 5/10
4/4 [==============================] - 0s 4ms/step - loss: 0.6535 - accuracy: 0.3143
Epoch 6/10
4/4 [==============================] - 0s 4ms/step - loss: 0.6510 - accuracy: 0.3143
Epoch 7/10
4/4 [==============================] - 0s 6ms/step - loss: 0.6486 - accuracy: 0.3143
Epoch 8/10
4/4 [==============================] - 0s 5ms/step - loss: 0.6444 - accuracy: 0.3143
Epoch 9/10
4/4 [==============================] - 0s 4ms/step - loss: 0.6376 - accuracy: 0.3143
Epoch 10/10
4/4 [==============================] - 0s 4ms/step - loss: 0.6266 - accuracy: 0.3143

In [21]:
#predicting

y_pred = model.predict(x_test)

2/2 [==============================] - 0s 3ms/step

In [22]:
model.evaluate(x_test,y_test)

2/2 [==============================] - 0s 4ms/step - loss: 0.5599 - accuracy: 0.3778

[0.5598668456077576, 0.3777777850627899]

In [24]:
new_y_pred = y_pred.astype(int)

In [26]:
#accuracy
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test,new_y_pred)
accuracy

0.3111111111111111